@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
h1{
    text-align: center;
    font-size: 3rem;
    background-color: aliceblue;
    font-family: "Special Gothic Condensed One", sans-serif;
    border: 1px solid black;
}

.contenedor-btn{
    display: flex;
    justify-content: center;
}

.btn{
    font-family: "Special Gothic Condensed One", sans-serif;
    background-color: aliceblue;
    width: 10rem;
    font-size: 2rem;
    padding: .8rem;
    border-radius: 1rem;
}
